body {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
    background-color: #283333;
    border: solid;
    border-width: 5px;
    border-color: #ff9911;
}
#navbar {
    height: 10vh;
    border: solid;
    border-width: 5px;
    border-color: #9933CC;
}
#canvas-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: solid;
    border-width: 5px;
    border-color: #33BBCC;
}
.toolbox {
    display: flex;
    flex-direction: column;
    justify-content: top;
    height: 90vh;
    background-color: #a0a0a0;
    overflow-y: auto;
}
.toolbox .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #a0a0a0;
    border-bottom: thin solid gray;
}
.toolbox .group .item {
    width: 40px;
    height: 40px;
    padding: 20px;
    cursor: pointer;
}
.toolbox .group .item img {
    width: 18px;
    height: 18px;
    filter: invert(1);
    margin: auto;
}
.toolbox .group .item.active,
.toolbox .group .item:hover {
    background-color: #4b6161;
}
.toolbox .group.stroks .item {
    position: relative;
}
.toolbox .group.stroks .item .stroke {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.toolbox .group.colors .item .swatch {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 2px #fff solid;
}

#canvas {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}
